services:

  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    volumes:
      - ./mysql:/var/lib/mysql

  facturascripts:
    image: facturascripts/facturascripts:latest
    restart: unless-stopped
    ports:
      - "8200:80"
    volumes:
      - ./facturascripts:/var/www/html

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"   
  
